%h1 Alerts

%h2 Banner Alerts

.margin-bottom

  .alert-banner.alert-success(role="alert")
    This is a success message. Hooray!

  .alert-banner.alert-warning.alert-dismissible(role="alert")
    %button.close(type="button" aria-hidden="true") &times;
    This is an alert message. Hmmmmm. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .alert-banner.alert-danger.alert-dismissible(role="alert")
    %button.close(type="button" aria-hidden="true") &times;
    This is an alert message. Hmmmmm.

%h2 Inline Alerts

.margin-bottom

  .alert-inline.alert-success(role="alert")
    Hooray, it&#8217;s a Success!

  .alert-inline.alert-warning(role="alert")
    Warning Text

  .alert-inline.alert-danger(role="alert")
    There was an Error

  .alert-inline.alert-default(role="alert")
    General Text Goes Here
