%h1 Alerts

%h2 Banner Alerts

.sg-break

  .alert-banner-success(role="alert")
    %strong.alert-signal Woot!
    This is a success message.

  .alert-banner-warning(role="alert")
    %strong.alert-signal Warning!
    This is an warning message.
    %a.alert-action(href="#") Action

  .alert-banner-default.alert-dismissible(role="alert")
    %button.i-close(type="button" aria-hidden="true") &times;
    %strong.alert-signal Hey there!
    This is a default Belly message.
    %a.alert-action(href="#") Action

  .alert-banner-danger.alert-dismissible(role="alert")
    %button.i-close(type="button" aria-hidden="true") &times;
    %strong.alert-signal Alert!
    This is an danger message.
    Caution,
    = succeed "." do
      %a(href="#") I&#8217;m a link

%h2 Inline Alerts

.sg-break

  .alert-inline-success(role="alert")
    %strong.alert-signal Woot!
    It&#8217;s a success!

  .alert-inline-warning(role="alert")
    %strong.alert-signal Warning!
    Proceed with caution.

  .alert-inline-default(role="alert")
    %strong.alert-signal Hey there!
    Lighthouses rule.

  .alert-inline-danger(role="alert")
    %strong.alert-signal Oh no!
    There was an error.
    Caution,
    = succeed "." do
      %a(href="#") I&#8217;m a link
