%h1 Alerts

%h2 Banner Alerts

.margin-bottom

  .alert-banner.alert-success(role="alert")
    This is a success message. Hooray!

  .alert-banner.alert-warning.alert-dismissible(role="alert")
    %button.close(type="button" aria-hidden="true") &times;
    This is a warning message. Be careful.

  .alert-banner.alert-danger.alert-dismissible(role="alert")
    %button.close(type="button" aria-hidden="true") &times;
    This is a danger message. Hmmmmm.

  .alert-banner.alert-default.alert-dismissible(role="alert")
    %button.close(type="button" aria-hidden="true") &times;
    Good work. Please carry on.

%h2 Inline Alerts

.margin-bottom

  .alert-inline.alert-success(role="alert")
    Hooray, it&#8217;s a success!

  .alert-inline.alert-warning(role="alert")
    Warning text.

  .alert-inline.alert-danger(role="alert")
    Danger! Oh no!

  .alert-inline.alert-default(role="alert")
    General text goes here.
