%h1 Buttons

%p The following buttons, and corresponding classes, should work on any element. Style variants include large and small buttons, on top of the default size, as well as disabled styles, by way of a class or <code>disabled</code> attribute.

%ul.sg-value-list
  %li
    Large Button
    %code.sg-value-offset .btn-large
  %li
    Small Button
    %code.sg-value-offset .btn-small
  %li
    Disabled Button Attribute
    %code.sg-value-offset [disabled]

-# ========================================
-# Default buttons

%section.padding-bottom

  %h2 Default Buttons

  %p Default buttons are identified with the <code>.btn-default</code> class.

  %a.btn.btn-default.btn-large(href="#" role="button") Default Button
  %a.btn.btn-default.btn-large(href="#" role="button" disabled) Default Button

  %a.btn.btn-default(href="#" role="button") Default Button
  %a.btn.btn-default(href="#" role="button" disabled) Default Button

  %a.btn.btn-default.btn-small(href="#" role="button") Default Button
  %a.btn.btn-default.btn-small(href="#" role="button" disabled) Default Button

-# ========================================
-# Success buttons

%section.padding-bottom

  %h2 Success Buttons

  %p Success buttons are identified with the <code>.btn-success</code> class.

  %a.btn.btn-success.btn-large(href="#" role="button") Success Button
  %a.btn.btn-success.btn-large(href="#" role="button" disabled) Success Button

  %a.btn.btn-success(href="#" role="button") Success Button
  %a.btn.btn-success(href="#" role="button" disabled) Success Button

  %a.btn.btn-success.btn-small(href="#" role="button") Success Button
  %a.btn.btn-success.btn-small(href="#" role="button" disabled) Success Button

-# ========================================
-# Warning buttons

%section.padding-bottom

  %h2 Warning Buttons

  %p Warning buttons are identified with the <code>.btn-warning</code> class.

  %a.btn.btn-warning.btn-large(href="#" role="button") Warning Button
  %a.btn.btn-warning.btn-large(href="#" role="button" disabled) Warning Button

  %a.btn.btn-warning(href="#" role="button") Warning Button
  %a.btn.btn-warning(href="#" role="button" disabled) Warning Button

  %a.btn.btn-warning.btn-small(href="#" role="button") Warning Button
  %a.btn.btn-warning.btn-small(href="#" role="button" disabled) Warning Button

-# ========================================
-# Danger buttons

%section.padding-bottom

  %h2 Danger Buttons

  %p Danger buttons are identified with the <code>.btn-danger</code> class.

  %a.btn.btn-danger.btn-large(href="#" role="button") Danger Button
  %a.btn.btn-danger.btn-large(href="#" role="button" disabled) Danger Button

  %a.btn.btn-danger(href="#" role="button") Danger Button
  %a.btn.btn-danger(href="#" role="button" disabled) Danger Button

  %a.btn.btn-danger.btn-small(href="#" role="button") Danger Button
  %a.btn.btn-danger.btn-small(href="#" role="button" disabled) Danger Button

-# ========================================
-# Boring buttons

%section.padding-bottom

  %h2 Boring Buttons

  %p Boring buttons are identified with the <code>.btn-boring</code> class.

  %a.btn.btn-boring.btn-large(href="#" role="button") Boring Button
  %a.btn.btn-boring.btn-large(href="#" role="button" disabled) Boring Button

  %a.btn.btn-boring(href="#" role="button") Boring Button
  %a.btn.btn-boring(href="#" role="button" disabled) Boring Button

  %a.btn.btn-boring.btn-small(href="#" role="button") Boring Button
  %a.btn.btn-boring.btn-small(href="#" role="button" disabled) Boring Button

-# ========================================
-# Alternate buttons

%h2 Alternate Buttons

%p Alternate buttons are identified with the <code>.btn-alt</code> class. They should only be used on a colored background and do not include any disabled styles. These buttons are meant to be a primary call to action.

.sg-alt-btns

  %a.btn.btn-default.btn-alt.btn-large(href="#" role="button") Alternate Button
  %a.btn.btn-default.btn-alt(href="#" role="button") Alternate Button
  %a.btn.btn-default.btn-alt.btn-small(href="#" role="button") Alternate Button

.sg-alt-btns

  %a.btn.btn-success.btn-alt.btn-large(href="#" role="button") Alternate Button
  %a.btn.btn-success.btn-alt(href="#" role="button") Alternate Button
  %a.btn.btn-success.btn-alt.btn-small(href="#" role="button") Alternate Button

.sg-alt-btns

  %a.btn.btn-warning.btn-alt.btn-large(href="#" role="button") Alternate Button
  %a.btn.btn-warning.btn-alt(href="#" role="button") Alternate Button
  %a.btn.btn-warning.btn-alt.btn-small(href="#" role="button") Alternate Button

.sg-alt-btns

  %a.btn.btn-danger.btn-alt.btn-large(href="#" role="button") Alternate Button
  %a.btn.btn-danger.btn-alt(href="#" role="button") Alternate Button
  %a.btn.btn-danger.btn-alt.btn-small(href="#" role="button") Alternate Button

-# ========================================
-# Overlay buttons

%h2 Overlay Buttons

%p Overlay buttons are identified with the <code>.btn-overlay</code> class. They should only be used over an image background and do not include any disabled styles. 

.sg-overlay-btns

  %a.btn.btn-overlay.btn-large(href="#" role="button") Overlay Button
  %a.btn.btn-overlay(href="#" role="button") Overlay Button
  %a.btn.btn-overlay.btn-small(href="#" role="button") Overlay Button
