%h2 Buttons

%p The following buttons, and corresponding classes, should work on any element. Style variants include large and small buttons, on top of the default size, as well as disabled styles, by way of a class or <code>disabled</code> attribute.

%ul.sg-value-list
  %li
    Large Button
    %code.sg-value-offset .btn-large
  %li
    Small Button
    %code.sg-value-offset .btn-small
  %li
    Active Button
    %code.sg-value-offset .btn-active
  %li
    Disabled Button Attribute
    %code.sg-value-offset [disabled]
  %li
    Disabled Button Class
    %code.sg-value-offset .btn-disabled


-# ========================================
-# Default buttons

%section.pad-bottom

  %h4 Default Buttons
  %p Default buttons are identified with the <code>.btn-default</code> class.

  %a.btn-default.btn-large(href="#") Default Button
  %a.btn-default.btn-large.btn-disabled(href="#") Default Button

  %a.btn-default(href="#") Default Button
  %a.btn-default.btn-disabled(href="#") Default Button

  %a.btn-default.btn-small(href="#") Default Button
  %a.btn-default.btn-small.btn-disabled(href="#") Default Button

-# ========================================
-# Success buttons

%section.pad-bottom

  %h4 Success Buttons
  %p Success buttons are identified with the <code>.btn-success</code> class.

  %a.btn-success.btn-large(href="#") Success Button
  %a.btn-success.btn-large.btn-disabled(href="#") Success Button

  %a.btn-success(href="#") Success Button
  %a.btn-success.btn-disabled(href="#") Success Button

  %a.btn-success.btn-small(href="#") Success Button
  %a.btn-success.btn-small.btn-disabled(href="#") Success Button

-# ========================================
-# Danger buttons

%section.pad-bottom

  %h4 Danger Buttons
  %p Danger buttons are identified with the <code>.btn-danger</code> class.

  %a.btn-danger.btn-large(href="#") Danger Button
  %a.btn-danger.btn-large.btn-disabled(href="#") Danger Button

  %a.btn-danger(href="#") Danger Button
  %a.btn-danger.btn-disabled(href="#") Danger Button

  %a.btn-danger.btn-small(href="#") Danger Button
  %a.btn-danger.btn-small.btn-disabled(href="#") Danger Button

-# ========================================
-# Boring buttons

%section.pad-bottom

  %h4 Boring Buttons
  %p Boring buttons are identified with the <code>.btn-boring</code> class.

  %a.btn-boring.btn-large(href="#") Boring Button
  %a.btn-boring.btn-large.btn-disabled(href="#") Boring Button

  %a.btn-boring(href="#") Boring Button
  %a.btn-boring.btn-disabled(href="#") Boring Button

  %a.btn-boring.btn-small(href="#") Boring Button
  %a.btn-boring.btn-small.btn-disabled(href="#") Boring Button

-# ========================================
-# Alternate buttons

%h4 Alternate Buttons
%p Alternate buttons are identified with the <code>.btn-alt</code> class. They should only be used on a colored background and do not include any disabled styles. These buttons are meant to be a primary call to action.

.sg-alt-btns

  %a.btn-alt.btn-large(href="#") Alternate Button
  %a.btn-alt(href="#") Alternate Button
  %a.btn-alt.btn-small(href="#") Alternate Button
