%h2 Colors

%p All colors include a variable, the required method for using a color, as well as Hexidecimal and RGB values for reference. When using a color as a text color or background color extend the proper silent class. Silent classes for colors begin with <code>color-</code> followed by the color name, <code>%color-brand-blue</code> for example. Silent classes for backgrounds begin with <code>background-</code> followed by the color name, <code>%background-brand-blue</code> for example.

-# ========================================
-# Brand blues

%h4 Brand Blues

.grid.sg-colors

  %ul.sg-color.sg-color-brand-blue
    %li
      Variable
      %code.sg-color-value $brand-blue
    %li
      Hex
      %code.sg-color-value #33a9e0
    %li
      RGB
      %code.sg-color-value 51, 169, 224

  %ul.sg-color.sg-color-brand-blue-dark
    %li
      Variable
      %code.sg-color-value $brand-blue-dark
    %li
      Hex
      %code.sg-color-value #0057a6
    %li
      RGB
      %code.sg-color-value 0, 87, 166

  %ul.sg-color.sg-color-brand-blue-light
    %li
      Variable
      %code.sg-color-value $brand-blue-light
    %li
      Hex
      %code.sg-color-value #69cce6
    %li
      RGB
      %code.sg-color-value 105, 204, 230

-# ========================================
-# Brand colors

%h4 Brand Colors

.grid.sg-colors

  %ul.sg-color.sg-color-brand-green
    %li
      Variable
      %code.sg-color-value $brand-green
    %li
      Hex
      %code.sg-color-value #62ab1b
    %li
      RGB
      %code.sg-color-value 98, 171, 27

  %ul.sg-color.sg-color-brand-orange
    %li
      Variable
      %code.sg-color-value $brand-orange
    %li
      Hex
      %code.sg-color-value #e93801
    %li
      RGB
      %code.sg-color-value 233, 56, 1

  %ul.sg-color.sg-color-brand-yellow
    %li
      Variable
      %code.sg-color-value $brand-yellow
    %li
      Hex
      %code.sg-color-value #edb406
    %li
      RGB
      %code.sg-color-value 237, 180, 6

-# ========================================
-# Monochromatic colors

%h4 Monochromatic Colors

.grid.sg-colors

  %ul.sg-color.sg-color-black
    %li
      Variable
      %code.sg-color-value $black
    %li
      Hex
      %code.sg-color-value #333
    %li
      RGB
      %code.sg-color-value 51, 51, 51

  %ul.sg-color.sg-color-gray-dark
    %li
      Variable
      %code.sg-color-value $gray-dark
    %li
      Hex
      %code.sg-color-value #666
    %li
      RGB
      %code.sg-color-value 102, 102, 102

  %ul.sg-color.sg-color-gray
    %li
      Variable
      %code.sg-color-value $gray
    %li
      Hex
      %code.sg-color-value #999
    %li
      RGB
      %code.sg-color-value 153, 153, 153

  %ul.sg-color-alt.sg-color-gray-light
    %li
      Variable
      %code.sg-color-value $gray-light
    %li
      Hex
      %code.sg-color-value #ccc
    %li
      RGB
      %code.sg-color-value 204, 204, 204

  %ul.sg-color-alt.sg-color-white-offset
    %li
      Variable
      %code.sg-color-value $white-offset
    %li
      Hex
      %code.sg-color-value #eee
    %li
      RGB
      %code.sg-color-value 238, 238, 238

  %ul.sg-color-alt.sg-color-white
    %li
      Variable
      %code.sg-color-value $white
    %li
      Hex
      %code.sg-color-value #fff
    %li
      RGB
      %code.sg-color-value 255, 255, 255

-# ========================================
-# Slate colors

%h4 Slate Colors

.grid.sg-colors

  %ul.sg-color.sg-color-slate
    %li
      Variable
      %code.sg-color-value $slate
    %li
      Hex
      %code.sg-color-value #45454c
    %li
      RGB
      %code.sg-color-value 69, 69, 76

  %ul.sg-color.sg-color-slate-offset
    %li
      Variable
      %code.sg-color-value $slate-offset
    %li
      Hex
      %code.sg-color-value #95959a
    %li
      RGB
      %code.sg-color-value 149, 149, 154

  %ul.sg-color.sg-color-slate-light
    %li
      Variable
      %code.sg-color-value $slate-light
    %li
      Hex
      %code.sg-color-value #4c4c53
    %li
      RGB
      %code.sg-color-value 76, 76, 83

  %ul.sg-color.sg-color-slate-dark
    %li
      Variable
      %code.sg-color-value $slate-dark
    %li
      Hex
      %code.sg-color-value #3a3a40
    %li
      RGB
      %code.sg-color-value 58, 58, 64