%h1 Dropdowns

%div(ng-controller="dropdownCtrl")

  .group.margin-bottom
    %strong Solo Caret

    .dropdown(data-dropdown data-dropdown-toggle)

      %button.dropdown-toggle.dropdown-toggle-solo

      %ul.dropdown-menu(role="menu" data-dropdown-content)

        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Another action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Something else here
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Separated link

  .group.margin-bottom
    %strong Including Text

    .dropdown.grid-1-3(data-dropdown data-dropdown-toggle)

      %button.dropdown-toggle.grid-1-1 Dropdown

      %ul.dropdown-menu(role="menu" data-dropdown-content)

        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Another action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Something else here
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Separated link

  .group.margin-bottom
    %strong Positioned to the Right

    .dropdown.dropdown-right(data-dropdown data-dropdown-toggle)

      %button.dropdown-toggle Dropdown

      %ul.dropdown-menu(role="menu" data-dropdown-content)

        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Another action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Something else here
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Separated link

  .group.margin-bottom
    %strong Random Element without a Caret

    .dropdown-alt(data-dropdown data-dropdown-toggle)

      %button.btn.btn-default Random Button

      %ul.dropdown-menu(role="menu" data-dropdown-content)

        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Another action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Something else here
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Separated link

  %strong Within a Form

  %form.grid-1-3(role="form")

    .form-group

      .dropdown.grid-1-1(data-dropdown data-dropdown-toggle)
        
        %input.form-control(type="text" placeholder="Your name")

        %ul.dropdown-menu(role="menu" data-dropdown-content)
          %li.dropdown-menu-item(role="presentation")
            %a(role="menuitem" href="#") Action
          %li.dropdown-menu-item(role="presentation")
            %a(role="menuitem" href="#") Another action
          %li.dropdown-menu-item(role="presentation")
            %a(role="menuitem" href="#") Something else here
          %li.dropdown-menu-item(role="presentation")
            %a(role="menuitem" href="#") Separated link

    .form-group
      .form-row
        %label.form-label(for="sg-form-row-email-dropdown") Email
        
        .dropdown(data-dropdown data-dropdown-toggle)

          %input.form-control#sg-form-row-email-dropdown(type="email" placeholder="Enter email")

          %ul.dropdown-menu(role="menu" data-dropdown-content)
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Action
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Another action
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Something else here
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Separated link

    .form-group
      .form-row
        %label.form-label(for="sg-form-inline-password-dropdown") Password
        
        .dropdown(data-dropdown data-dropdown-toggle)

          %input.form-control#sg-form-inline-password-dropdown(type="password" placeholder="Password")

          %ul.dropdown-menu(role="menu" data-dropdown-content)
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Action
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Another action
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Something else here
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Separated link

        .form-btn
          %button.btn.btn-default(type="submit") Login
