%h1 Dropdowns

%div(ng-controller="dropDownCtrl")
  .group.margin-bottom
    %strong Solo Caret

    .dropdown(dropdown)

      %button.btn.btn-boring.dropdown-toggle.dropdown-toggle-solo(type="button" dropdown-toggle)
        .caret

      %ul.dropdown-menu(role="menu")
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Another action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Something else here
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Separated link

  .group.margin-bottom
    %strong Including Text

    .dropdown.grid-1-3(dropdown)

      %button.btn.btn-boring.dropdown-toggle.grid-1-1(type="button" dropdown-toggle)
        Dropdown
        .caret

      %ul.dropdown-menu(role="menu")
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Another action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Something else here
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Separated link

  .group.margin-bottom
    %strong Positioned to the Right

    .dropdown.dropdown-right(dropdown)

      %button.btn.btn-boring.dropdown-toggle(type="button" dropdown-toggle)
        Dropdown
        .caret

      %ul.dropdown-menu(role="menu")
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Another action
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Something else here
        %li.dropdown-menu-item(role="presentation")
          %a(role="menuitem" href="#") Separated link

  %strong Within a Form

  %form.grid-1-3(role="form")
    .form-group
      .form-row
        %label.form-label Name

        .form-btn.dropdown(dropdown)
          %button.btn.btn-boring.dropdown-toggle(type="button" dropdown-toggle)
            Dropdown
            .caret

          %ul.dropdown-menu(role="menu")
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Action
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Another action
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Something else here
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Separated link

  %form.grid-1-3(role="form")
    .form-group
      .form-row
        %label.form-label Password

        .form-btn.dropdown(dropdown)
          %button.btn.btn-boring.dropdown-toggle(type="button" dropdown-toggle)
            Dropdown
            .caret

          %ul.dropdown-menu(role="menu")
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Action
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Another action
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Something else here
            %li.dropdown-menu-item(role="presentation")
              %a(role="menuitem" href="#") Separated link

        .form-btn
          %button.btn.btn-default(type="submit") Login
