%h1 Forms

-# ========================================
-# Regular

%h2 Normal Forms

%form.grid-1-3(role="form")

  .form-group
    %input.form-control(type="text" placeholder="Your name")
    .form-help Please put your name in the box

  .form-group
    %label.form-label(for="sg-form-control")
      Email
      %span.form-subtle (Optional)
    %input.form-control#sg-form-control(type="email" placeholder="Enter email")

  .form-group
    %input.form-control(type="password" placeholder="Password")

  .form-group
    .form-choice
      %label
        %input(type="checkbox") Check me out
    .form-choice
      %label
        %input(type="checkbox") Check me out too, I&#8217;m longer and will wrap onto multiple lines

  .form-group
    .form-label Radios
    .form-choice
      %label
        %input(type="radio" name="radio-choices") Check me out
    .form-choice
      %label
        %input(type="radio" name="radio-choices") Check me out too, I&#8217;m longer and will wrap onto multiple lines

  .form-group
    .form-label More Checkboxes
    .form-choice
      %label
        %input(type="checkbox") Check me out
      .form-help You really should checkout that box

  .form-group
    %textarea.form-area(placeholder="A textarea for longer formed input")

  .form-group
    %button.btn.btn-default(type="submit") Submit

-# ========================================
-# Rows

%h2 Forms in Rows

%form.grid-1-3(role="form")

  .form-group
    .form-row
      %label.form-label(for="sg-form-row-name") Name
      %input.form-control#sg-form-row-name(type="text" placeholder="Your name")
    .form-help Please put your name in the box

  .form-group
    %label.form-label(for="sg-form-row-email") Email
    .form-row
      %label.form-label(for="sg-form-row-email") Email
      %input.form-control#sg-form-row-email(type="email" placeholder="Enter email")

  .form-group
    .form-row
      %label.form-label(for="sg-form-row-password") Password
      %input.form-control#sg-form-row-password(type="password" placeholder="Password")

  .form-group
    %label.form-label(for="sg-form-row-area") Comments
    .form-row
      %label.form-label(for="sg-form-row-area") Comments
      %textarea.form-area#sg-form-row-area(placeholder="A textarea for longer formed input")
    .form-help Please answer above

  .form-group
    %button.btn.btn-default(type="submit") Submit

-# ========================================
-# Inline buttons

%h2 Buttons Inline with Inputs

%form.grid-1-3(role="form")

  .form-group
    %label.form-label(for="sg-form-inline-search") Search
    .form-row
      %input.form-control#sg-form-inline-search(type="search" placeholder="Search here…")
      .form-btn
        %button.btn.btn-success(type="submit") Search
    .form-help Please search above

  .form-group
    .form-row
      %label.form-label(for="sg-form-inline-password") Password
      %input.form-control#sg-form-inline-password(type="password" placeholder="Password")
      .form-btn
        %button.btn.btn-default(type="submit") Login

-# ========================================
-# Error Inputs

%h2 Error Inputs

%form.grid-1-3(role="form")

  .form-group
    %input.form-control.form-error(type="password" placeholder="Password")
    .form-help Wrong password silly

  .form-group
    .form-row
      %label.form-label(for="sg-form-error-password") Password
      %input.form-control.form-error#sg-form-error-password(type="password" placeholder="Password")
    .form-help Wrong password

  .form-group
    .form-choice.form-error
      %label
        %input(type="checkbox" required) Check me out
    .form-choice.form-error
      %label
        %input(type="radio" name="radio-choices") Check me out too, I&#8217;m longer and will wrap onto multiple lines

  .form-group
    .form-row
      %input.form-control.form-error(type="search" placeholder="Search here...")
      .form-btn
        %button.btn-success.btn(type="submit") Search
    .form-help Unacceptable search terms

  .form-group
    %textarea.form-area.form-error(placeholder="A textarea for longer formed input")

  .form-group
    .form-row
      %label.form-label(for="sg-form-error-area") Comments
      %textarea.form-area.form-error#sg-form-error-area(placeholder="A textarea for longer formed input")
    .form-help Please answer above

-# ========================================
-# Disabled Inputs

%h2 Disabled Inputs

%form.grid-1-3(role="form")

  .form-group
    %input.form-control(type="text" placeholder="Disabled, sorry" disabled)
    .form-help Currently unavailable

  .form-group
    .form-row
      %label.form-label(disabled) Disabled
      %input.form-control(type="text" placeholder="Disabled, sorry" disabled)
    .form-help Currently unavailable

  .form-group
    .form-row
      %input.form-control(type="search" placeholder="Disabled, sorry" disabled)
      .form-btn
        %button.btn.btn-success(type="submit" disabled) Search
    .form-help Currently unavailable

  .form-group
    .form-choice
      %label(disabled)
        %input(type="checkbox" disabled) Check me out
    .form-choice
      %label(disabled)
        %input(type="radio" name="radio-choices" disabled) Check me out

  .form-group
    %textarea.form-area(placeholder="A textarea for longer formed input" disabled)
