%h1 Layout

%h2 Grid System

%p The grid may be divided into 12 columns.

%p Each division comes with a set of classes to identify the different widths.

%p Using a class to define the width alone will not create a grid system. Rows, or multiple rows, need to be wrapped in an element with the <code>.grid</code> class and elements with the defined width need to include the <code>.grid-col</code> class. Take the following example:

%pre
  %code
    :preserve
      &lt;div class="grid"&gt;
        &lt;div class="grid-col grid-1-3"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-2-3"&gt;...&lt;/div&gt;
      &lt;/div&gt;

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-1
    %code .grid-1-1

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-2
    %code .grid-1-2
  .grid-col.sg-grid-col.grid-1-2
    %code .grid-1-2

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-3
    %code .grid-1-3
  .grid-col.sg-grid-col.grid-1-3
    %code .grid-1-3
  .grid-col.sg-grid-col.grid-1-3
    %code .grid-1-3

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-4
    %code .grid-1-4
  .grid-col.sg-grid-col.grid-1-4
    %code .grid-1-4
  .grid-col.sg-grid-col.grid-1-4
    %code .grid-1-4
  .grid-col.sg-grid-col.grid-1-4
    %code .grid-1-4

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12

%h2 Nested Grids

%p Grids also support nested grids, such as:

%pre
  %code
    :preserve
      &lt;div class="grid"&gt;
        &lt;div class="grid-col grid-3-5"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-2-5"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-2-10"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-8-10"&gt;
          &lt;div class="grid"&gt;
            &lt;div class="grid-col grid-2-4"&gt;...&lt;/div&gt;
            &lt;div class="grid-col grid-1-4"&gt;...&lt;/div&gt;
            &lt;div class="grid-col grid-1-4"&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="grid-col grid-4-12&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-8-12&gt;...&lt;/div&gt;
      &lt;/div&gt;

.grid.sg-grid
  .grid-col.sg-grid-col.grid-3-5
    %code .grid-3-5
  .grid-col.sg-grid-col.grid-2-5
    %code .grid-2-5
  .grid-col.sg-grid-col.grid-2-10
    %code .grid-2-10
  .grid-col.sg-grid-col.grid-8-10
    %code .grid-8-10
    .grid
      .grid-col.sg-grid-col.grid-2-4
        %code .grid-2-4
      .grid-col.sg-grid-col.grid-1-4
        %code .grid-1-4
      .grid-col.sg-grid-col.grid-1-4
        %code .grid-1-4
  .grid-col.sg-grid-col.grid-4-12
    %code .grid-4-12
  .grid-col.sg-grid-col.grid-8-12
    %code .grid-8-12

-# ========================================
-# Baseline Grid
%h2 Baseline Grid

%p Baseline grids are a useful way to guide the vertical spacing of your design. At Belly we use multiples of 6 to create consistent vertical spacing throughout our layout. Below are some commonly used baseline variables. Please note, these variables should be used for vertical spacing only (i.e. height, padding-top, padding-bottom, margin-top, margin-bottom, and top). If you need to vertically space an element by more than the 42px, please multiply it by 6 using the $baseline-step variable. For example, ($baseline-step * 10).

%pre
  %code
    :preserve
      &#36;baseline-step:     6px;
      &#36;baseline-x-small:  &#36;baseline-step * 2; // 12px
      &#36;baseline-small:    &#36;baseline-step * 3; // 18px
      &#36;baseline-base:     &#36;baseline-step * 4; // 24px
      &#36;baseline-large:    &#36;baseline-step * 5; // 30px
      &#36;baseline-x-large:  &#36;baseline-step * 6; // 36px
      &#36;baseline-xx-large: &#36;baseline-step * 7; // 42px

-# ========================================
-# Gutters
%h2 Gutters

%p To manage horizontal spacing, use the aforementioned grid system or the gutter variables listed below. These variables are great for consitent horizontal spacing (i.e. width, padding-left, padding-right, margin-left, margin-right, right, left). It is perfectly OK to perform operations on these variables. For example, ($gutter * 2) or ($gutter-half / 3).

%pre
  %code
    :preserve
      &#36;gutter:      30px;
      &#36;gutter-half: &#36;gutter / 2;

-# ========================================
-# Border Radius
%h2 Border Radius

%p For consistency, please use the following variables to manage border radius.

%pre
  %code
    :preserve
      &#36;border-radius-base: 6px;
      &#36;border-radius-mini: 4px;

-# ========================================
-# Floats

%h2 Floats

%p Float classes may be used on an element directly, never extended.

%ul.sg-value-list
  %li
    Left
    %code.sg-value-offset .pull-left
  %li
    Right
    %code.sg-value-offset .pull-right

-# ========================================
-# Clearfix

%h2 Clearfix

%p A clearfix may be used as a mixin or class. Mixin example: <code>+group</code>. Class example: <code>.group</code>.

%ul.sg-value-list
  %li
    Clearfix
    %code.sg-value-offset .group
