%h2 Layout

%h4 Grid System

%p The grid may be divided into <code>whole</code>, <code>halfs</code>, <code>thirds</code>, <code>fourths</code>, <code>fifths</code>, <code>sixths</code>, <code>eighths</code>, <code>tenths</code>, and <code>twelths</code>.

%p Each division comes with a set of classes <code>[.]</code> to identify the different widths. These classes may be used on an element directly or as an extend by way of the <code>@extend</code> rule. Class names may be singular or plural depending on how many columns you wish to span. For example, when creating a six column grid you may define an element that spans a single column with the class <code>.grid-1-6</code> or you may define an element that spans four columns with the class <code>.grid-4-6</code>.

%p Using a class to define the width alone will not create a grid system. Rows, or multiple rows, need to be wrapped in an element with the <code>.grid</code> class and elements with the defined width need to include the <code>.grid-col</code> class. Take the following example:

%pre
  %code
    :preserve
      &lt;div class="grid"&gt;
        &lt;div class="grid-col grid-1-3"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-2-3"&gt;...&lt;/div&gt;
      &lt;/div&gt;

.grid.sg-grid
  .grid-col.grid-1-1
    %code .grid-1-1

.grid.sg-grid
  .grid-col.grid-1-2
    %code .grid-1-2
  .grid-col.grid-1-2
    %code .grid-1-2

.grid.sg-grid
  .grid-col.grid-1-3
    %code .grid-1-3
  .grid-col.grid-1-3
    %code .grid-1-3
  .grid-col.grid-1-3
    %code .grid-1-3

.grid.sg-grid
  .grid-col.grid-1-4
    %code .grid-1-4
  .grid-col.grid-1-4
    %code .grid-1-4
  .grid-col.grid-1-4
    %code .grid-1-4
  .grid-col.grid-1-4
    %code .grid-1-4

.grid.sg-grid
  .grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.grid-1-5
    %code .grid-1-5

.grid.sg-grid
  .grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.grid-1-6
    %code .grid-1-6

.grid.sg-grid
  .grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.grid-1-8
    %code .grid-1-8

.grid.sg-grid
  .grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.grid-1-10
    %code .grid-1-10

.grid.sg-grid
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.grid-1-12
    %code .grid-1-12

%h4 Nested Grids

%p Grids also support nested grids, such as:

%pre
  %code
    :preserve
      &lt;div class="grid"&gt;
        &lt;div class="grid-col grid-3-5"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-2-5"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-2-10"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-8-10"&gt;
          &lt;div class="grid"&gt;
            &lt;div class="grid-col grid-2-4"&gt;...&lt;/div&gt;
            &lt;div class="grid-col grid-1-4"&gt;...&lt;/div&gt;
            &lt;div class="grid-col grid-1-4"&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="grid-col grid-4-12&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-8-12&gt;...&lt;/div&gt;
      &lt;/div&gt;

.grid.sg-grid
  .grid-col.grid-3-5
    %code .grid-3-5
  .grid-col.grid-2-5
    %code .grid-2-5
  .grid-col.grid-2-10
    %code .grid-2-10
  .grid-col.grid-8-10
    %code .grid-8-10
    .grid
      .grid-col.grid-2-4
        %code .grid-2-4
      .grid-col.grid-1-4
        %code .grid-1-4
      .grid-col.grid-1-4
        %code .grid-1-4
  .grid-col.grid-4-12
    %code .grid-4-12
  .grid-col.grid-8-12
    %code .grid-8-12

-# ========================================
-# Displays

%h4 Displays

%p Extendable display classes <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Block
    %code.sg-value-offset .display-block
  %li
    Inline-block
    %code.sg-value-offset .display-inline-block
  %li
    None
    %code.sg-value-offset .display-none

-# ========================================
-# Positions

%h4 Positions

%p Extendable position classes <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Relative
    %code.sg-value-offset .position-relative
  %li
    Absolute
    %code.sg-value-offset .position-absolute

-# ========================================
-# Floats

%h4 Floats

%p Extendable float classes <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Left
    %code.sg-value-offset .pull-left
  %li
    Right
    %code.sg-value-offset .pull-right
  %li
    None
    %code.sg-value-offset .pull-none

-# ========================================
-# Clearfix

%h4 Clearfix

%p Extendable clearfix class <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Clearfix
    %code.sg-value-offset .group

-# ========================================
-# Margins

%h4 Margins

%p Extendable margin classes <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Margin &ndash; 0
    %code.sg-value-offset .margin-0
  %li
    Margin &ndash; Bottom
    %code.sg-value-offset .margin-bottom
  %li
    Margin &ndash; Top
    %code.sg-value-offset .margin-top
  %li
    Margins &ndash; 0 top &amp; bottom, auto left &amp; right
    %code.sg-value-offset .margin-auto

-# ========================================
-# Paddings

%h4 Paddings

%p Extendable padding classes <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Padding &ndash; 0
    %code.sg-value-offset .pad-0
  %li
    Padding &ndash; Bottom
    %code.sg-value-offset .pad-bottom
  %li
    Padding &ndash; Top
    %code.sg-value-offset .pad-top
  %li
    Gutter padding &ndash; Left &amp; right
    %code.sg-value-offset .pad-gutters
  %li
    Half gutters padding &ndash; Left &amp; right
    %code.sg-value-offset .pad-gutters-half
  %li
    Baseline padding &ndash; Top &amp; bottom
    %code.sg-value-offset .pad-baselines
  %li
    Box padding &ndash; Top, right, bottom &amp; left
    %code.sg-value-offset .pad-box

-# ========================================
-# Misc

%h4 Misc

%ul.sg-value-list
  %li
    Border &ndash; 0
    %code.sg-value-offset .border-0
  %li
    Image Replacement
    %code.sg-value-offset .ir
