%h2 Layout

%h4 Grid System

%p The grid may be divided into <code>whole</code>, <code>halfs</code>, <code>thirds</code>, <code>fourths</code>, <code>fifths</code>, <code>sixths</code>, <code>eighths</code>, <code>tenths</code>, and <code>twelths</code>.

%p Each division comes with a set of classes <code>[.]</code> to identify the different widths. These classes may be used on an element directly or as an extend by way of the <code>@extend</code> rule. Class names may be singular or plural depending on how many columns you wish to span. For example, when creating a six column grid you may define an element that spans a single column with the class <code>.grid-one-sixth</code> or you may define an element that spans four columns with the class <code>.grid-four-sixths</code>.

%p Using a class to define the width alone will not create a grid system. Rows, or multiple rows, need to be wrapped in an element with the <code>.grid</code> class and elements with the defined width need to include the <code>.grid-col</code> class. Take the following example:

%pre
  %code
    :preserve
      &lt;div class="grid"&gt;
        &lt;div class="grid-col grid-one-third"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-two-thirds"&gt;...&lt;/div&gt;
      &lt;/div&gt;

.grid.sg-grid
  .grid-col.grid-one-whole
    %code .grid-one-whole

.grid.sg-grid
  .grid-col.grid-one-half
    %code .grid-one-half
  .grid-col.grid-one-half
    %code .grid-one-half

.grid.sg-grid
  .grid-col.grid-one-third
    %code .grid-one-third
  .grid-col.grid-one-third
    %code .grid-one-third
  .grid-col.grid-one-third
    %code .grid-one-third

.grid.sg-grid
  .grid-col.grid-one-fourth
    %code .grid-one-fourth
  .grid-col.grid-one-fourth
    %code .grid-one-fourth
  .grid-col.grid-one-fourth
    %code .grid-one-fourth
  .grid-col.grid-one-fourth
    %code .grid-one-fourth

.grid.sg-grid
  .grid-col.grid-one-fifth
    %code .grid-one-fifth
  .grid-col.grid-one-fifth
    %code .grid-one-fifth
  .grid-col.grid-one-fifth
    %code .grid-one-fifth
  .grid-col.grid-one-fifth
    %code .grid-one-fifth
  .grid-col.grid-one-fifth
    %code .grid-one-fifth

.grid.sg-grid
  .grid-col.grid-one-sixth
    %code .grid-one-sixth
  .grid-col.grid-one-sixth
    %code .grid-one-sixth
  .grid-col.grid-one-sixth
    %code .grid-one-sixth
  .grid-col.grid-one-sixth
    %code .grid-one-sixth
  .grid-col.grid-one-sixth
    %code .grid-one-sixth
  .grid-col.grid-one-sixth
    %code .grid-one-sixth

.grid.sg-grid
  .grid-col.grid-one-eighth
    %code .grid-one-eighth
  .grid-col.grid-one-eighth
    %code .grid-one-eighth
  .grid-col.grid-one-eighth
    %code .grid-one-eighth
  .grid-col.grid-one-eighth
    %code .grid-one-eighth
  .grid-col.grid-one-eighth
    %code .grid-one-eighth
  .grid-col.grid-one-eighth
    %code .grid-one-eighth
  .grid-col.grid-one-eighth
    %code .grid-one-eighth
  .grid-col.grid-one-eighth
    %code .grid-one-eighth

.grid.sg-grid
  .grid-col.grid-one-tenth
    %code .grid-one-tenth
  .grid-col.grid-one-tenth
    %code .grid-one-tenth
  .grid-col.grid-one-tenth
    %code .grid-one-tenth
  .grid-col.grid-one-tenth
    %code .grid-one-tenth
  .grid-col.grid-one-tenth
    %code .grid-one-tenth
  .grid-col.grid-one-tenth
    %code .grid-one-tenth
  .grid-col.grid-one-tenth
    %code .grid-one-tenth
  .grid-col.grid-one-tenth
    %code .grid-one-tenth
  .grid-col.grid-one-tenth
    %code .grid-one-tenth
  .grid-col.grid-one-tenth
    %code .grid-one-tenth

.grid.sg-grid
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth
  .grid-col.grid-one-twelfth
    %code .grid-one-twelfth

%h4 Nested Grids

%p Grids also support nested grids, such as:

%pre
  %code
    :preserve
      &lt;div class="grid"&gt;
        &lt;div class="grid-col grid-three-fifths"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-two-fifths"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-two-tenths"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-eight-tenths"&gt;
          &lt;div class="grid"&gt;
            &lt;div class="grid-col grid-two-fourths"&gt;...&lt;/div&gt;
            &lt;div class="grid-col grid-one-fourth"&gt;...&lt;/div&gt;
            &lt;div class="grid-col grid-one-fourth"&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="grid-col grid-four-twelfths&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-eight-twelfths&gt;...&lt;/div&gt;
      &lt;/div&gt;

.grid.sg-grid
  .grid-col.grid-three-fifths
    %code .grid-three-fifths
  .grid-col.grid-two-fifths
    %code .grid-two-fifths
  .grid-col.grid-two-tenths
    %code .grid-two-tenths
  .grid-col.grid-eight-tenths
    %code .grid-eight-tenths
    .grid
      .grid-col.grid-two-fourths
        %code .grid-two-fourths
      .grid-col.grid-one-fourth
        %code .grid-one-fourth
      .grid-col.grid-one-fourth
        %code .grid-one-fourth
  .grid-col.grid-four-twelfths
    %code .grid-four-twelfths
  .grid-col.grid-eight-twelfths
    %code .grid-eight-twelfths

-# ========================================
-# Displays

%h4 Displays

%p Extendable display classes <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Block
    %code.sg-value-offset .display-block
  %li
    Inline-block
    %code.sg-value-offset .display-inline-block
  %li
    None
    %code.sg-value-offset .display-none

-# ========================================
-# Floats

%h4 Floats

%p Extendable float classes <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Left
    %code.sg-value-offset .pull-left
  %li
    Right
    %code.sg-value-offset .pull-right
  %li
    None
    %code.sg-value-offset .pull-none

-# ========================================
-# Clearfix

%h4 Clearfix

%p Extendable clearfix class <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Clearfix
    %code.sg-value-offset .group

-# ========================================
-# Margins

%h4 Margins

%p Extendable margin classes <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Margin &ndash; 0
    %code.sg-value-offset .margin-0
  %li
    Margin &ndash; Bottom
    %code.sg-value-offset .margin-bottom
  %li
    Margin &ndash; Top
    %code.sg-value-offset .margin-top
  %li
    Margins &ndash; 0 top &amp; bottom, auto left &amp; right
    %code.sg-value-offset .margin-auto

-# ========================================
-# Paddings

%h4 Paddings

%p Extendable padding classes <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Padding &ndash; 0
    %code.sg-value-offset .pad-0
  %li
    Padding &ndash; Bottom
    %code.sg-value-offset .pad-bottom
  %li
    Padding &ndash; Top
    %code.sg-value-offset .pad-top
  %li
    Gutter padding &ndash; Left &amp; right
    %code.sg-value-offset .pad-gutters
  %li
    Half gutters padding &ndash; Left &amp; right
    %code.sg-value-offset .pad-gutters-half
  %li
    Baseline padding &ndash; Top &amp; bottom
    %code.sg-value-offset .pad-baselines
  %li
    Box padding &ndash; Top, right, bottom &amp; left
    %code.sg-value-offset .pad-box