%h1 Layout

%h2 Grid System

%p The grid may be divided into 12 columns.

%p Each division comes with a set of classes to identify the different widths.

%p Using a class to define the width alone will not create a grid system. Rows, or multiple rows, need to be wrapped in an element with the <code>.grid</code> class and elements with the defined width need to include the <code>.grid-col</code> class. Take the following example:

%pre
  %code
    :preserve
      &lt;div class="grid"&gt;
        &lt;div class="grid-col grid-1-3"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-2-3"&gt;...&lt;/div&gt;
      &lt;/div&gt;

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-1
    %code .grid-1-1

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-2
    %code .grid-1-2
  .grid-col.sg-grid-col.grid-1-2
    %code .grid-1-2

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-3
    %code .grid-1-3
  .grid-col.sg-grid-col.grid-1-3
    %code .grid-1-3
  .grid-col.sg-grid-col.grid-1-3
    %code .grid-1-3

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-4
    %code .grid-1-4
  .grid-col.sg-grid-col.grid-1-4
    %code .grid-1-4
  .grid-col.sg-grid-col.grid-1-4
    %code .grid-1-4
  .grid-col.sg-grid-col.grid-1-4
    %code .grid-1-4

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5
  .grid-col.sg-grid-col.grid-1-5
    %code .grid-1-5

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6
  .grid-col.sg-grid-col.grid-1-6
    %code .grid-1-6

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7
  .grid-col.sg-grid-col.grid-1-7
    %code .grid-1-7

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8
  .grid-col.sg-grid-col.grid-1-8
    %code .grid-1-8

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9
  .grid-col.sg-grid-col.grid-1-9
    %code .grid-1-9

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10
  .grid-col.sg-grid-col.grid-1-10
    %code .grid-1-10

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11
  .grid-col.sg-grid-col.grid-1-11
    %code .grid-1-11

.grid.sg-grid
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12
  .grid-col.sg-grid-col.grid-1-12
    %code .grid-1-12

%h2 Nested Grids

%p Grids also support nested grids, such as:

%pre
  %code
    :preserve
      &lt;div class="grid"&gt;
        &lt;div class="grid-col grid-3-5"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-2-5"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-2-10"&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-8-10"&gt;
          &lt;div class="grid"&gt;
            &lt;div class="grid-col grid-2-4"&gt;...&lt;/div&gt;
            &lt;div class="grid-col grid-1-4"&gt;...&lt;/div&gt;
            &lt;div class="grid-col grid-1-4"&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="grid-col grid-4-12&gt;...&lt;/div&gt;
        &lt;div class="grid-col grid-8-12&gt;...&lt;/div&gt;
      &lt;/div&gt;

.grid.sg-grid
  .grid-col.sg-grid-col.grid-3-5
    %code .grid-3-5
  .grid-col.sg-grid-col.grid-2-5
    %code .grid-2-5
  .grid-col.sg-grid-col.grid-2-10
    %code .grid-2-10
  .grid-col.sg-grid-col.grid-8-10
    %code .grid-8-10
    .grid
      .grid-col.sg-grid-col.grid-2-4
        %code .grid-2-4
      .grid-col.sg-grid-col.grid-1-4
        %code .grid-1-4
      .grid-col.sg-grid-col.grid-1-4
        %code .grid-1-4
  .grid-col.sg-grid-col.grid-4-12
    %code .grid-4-12
  .grid-col.sg-grid-col.grid-8-12
    %code .grid-8-12

-# ========================================
-# Floats

%h2 Floats

%p Float classes may be used on an element directly, never extended.

%ul.sg-value-list
  %li
    Left
    %code.sg-value-offset .pull-left
  %li
    Right
    %code.sg-value-offset .pull-right

-# ========================================
-# Clearfix

%h2 Clearfix

%p A clearfix may be used as a mixin or class. Mixin example: <code>+group</code>. Class example: <code>.group</code>.

%ul.sg-value-list
  %li
    Clearfix
    %code.sg-value-offset .group
