%h1 Lists

%p Extendable list class <code>[.]</code> which may be used on an element directly or as an extend by way of the <code>@extend</code> rule.

%ul.sg-value-list
  %li
    Remove list items
    %code.sg-value-offset .list-none