%h1 Loading

%p A loading illustrations in the form of Flop is avaiable but using any element with the class of <code>loading</code>. The loader will automatically be horizontally centered but will need to be vertically positioned as desired.

%pre
  %code
    :preserve
      &lt;figure class="loading"&gt;&lt;/figure&gt;

%figure.loading
