%h1 Logo

%h2 Usage

%p The Belly logo can only be used for material relating to Belly. Modifying or editing the logo in any way is strictly prohibited. Only the assets available for download on this page should be used. Do not use unofficial assets from image searches, other websites, or even sealed manila envelopes marked as &#8220;Classified Logo Stuff&#8221;.

.grid

  .grid-1-3.grid-col
    %a.sg-logo-img(href="/assets/images/belly-logo-light.png" download)
      = image_tag "belly-logo-light.png"
    %h5.sg-logo-title Belly Logo &mdash; Light Backgrounds
    %p
      Download
      %a.sg-logo-link(href="/assets/images/belly-logo.eps" download) EPS
      &#8226;
      %a.sg-logo-link(href="/assets/images/belly-logo-light.png" download) PNG

  .grid-1-3.grid-col
    %a.sg-logo-img(href="/assets/images/belly-logo-dark.png" download)
      = image_tag "belly-logo-dark.png"
    %h5.sg-logo-title Belly Logo &mdash; Dark Backgrounds
    %p
      Download
      %a.sg-logo-link(href="/assets/images/belly-logo.eps" download) EPS
      &#8226;
      %a.sg-logo-link(href="/assets/images/belly-logo-dark.png" download) PNG
