%h1 Misc

%h2 Extends

%ul.sg-value-list
  %li
    Base border radius
    %code.sg-value-offset %border-radius-base
  %li
    Mini border radius
    %code.sg-value-offset %border-radius-mini
  %li
    Transition All
    %code.sg-value-offset %transition-all
  %li
    Cursor &ndash; Not-allowed
    %code.sg-value-offset %cursor-not-allowed
