%h1 Misc

%h2 Border Radii

%ul.sg-value-list
  %li
    Base border radius
    %code.sg-value-offset %border-radius-base
  %li
    Mini border radius
    %code.sg-value-offset %border-radius-mini

%h2 Cursors

%ul.sg-value-list
  %li
    Cursor &ndash; Default
    %code.sg-value-offset %cursor-default
  %li
    Cursor &ndash; Pointer
    %code.sg-value-offset %cursor-pointer
  %li
    Cursor &ndash; Help
    %code.sg-value-offset %cursor-help
  %li
    Cursor &ndash; Not-allowed
    %code.sg-value-offset %cursor-not-allowed

%h2 Misc

%ul.sg-value-list
  %li
    Transition All
    %code.sg-value-offset %transition-all
  %li
    Content Empty
    %code.sg-value-offset %content-empty
