%h1 Tooltips

.margin-bottom

  %strong Top Right
  .tooltip.tooltip-top-right(role="tooltip")
    .tooltip-tip
      .tooltip-header Quick Tip
      .tooltip-body Still Tippin&#8217;

  %strong Top
  .tooltip.tooltip-top(role="tooltip")
    .tooltip-tip
      .tooltip-header Quick Tip
      .tooltip-body Still Tippin&#8217;

  %strong Top Left
  .tooltip.tooltip-top-left(role="tooltip")
    .tooltip-tip
      .tooltip-header Quick Tip
      .tooltip-body Still Tippin&#8217;

.margin-bottom

  %strong Bottom Right
  .tooltip.tooltip-bottom-right(role="tooltip")
    .tooltip-tip
      .tooltip-header Quick Tip
      .tooltip-body Still Tippin&#8217;

  %strong Bottom
  .tooltip.tooltip-bottom(role="tooltip")
    .tooltip-tip
      .tooltip-header Quick Tip
      .tooltip-body Still Tippin&#8217;

  %strong Bottom Left
  .tooltip.tooltip-bottom-left(role="tooltip")
    .tooltip-tip
      .tooltip-header Quick Tip
      .tooltip-body Still Tippin&#8217;
