%h1 Typography

-# ========================================
-# Typographic scale

%h2 Scale

%p We use a typographic scale, most notably made famous by Robert Bringhurst. One off, large sizes to be used for hero, leader, or introduction sections are named <code>s-giga</code> and <code>s-mega</code>. General font sizes used across all headings and default text are named after the phonetic alphabet, <code>s-alpha</code> through <code>s-hotel</code>.

%p Our base <code>font-size</code> is <code>14</code> pixels and our base <code>line-height</code> is <code>24</code> pixels. Our <code>line-height</code>, and vertical spacing in general, should always a variable of <code>6</code> pixels. 

%p Any <code>font-size</code> of <code>12</code> pixels and under will use the Helvetica Neue typeface, as seen within <code>s-golf</code> and <code>s-hotel</code>.

%h5 Variables

%p For the <code>font-size</code>, and size alone, variables may be used. Example: <code>$s-alpha</code>, <code>$s-bravo</code>, <code>$s-charlie</code>, and etc.

%h5 Mixins &amp; Classes

%p For a <code>font-size</code> and <code>line-height</code> combination mixins and classes may be used. Mixin example: <code>+s-alpha</code>, <code>+s-bravo</code>, <code>+s-charlie</code>, and etc. Class example: <code>.s-alpha</code>, <code>.s-bravo</code>, <code>.s-charlie</code>, and etc.

%ul.sg-value-list.sg-type-scale
  %li.s-giga
    Giga &ndash; 60px/72px
    %code.sg-value-offset .s-giga
  %li.s-mega
    Mega &ndash; 48px/54px
    %code.sg-value-offset .s-mega
  %li.s-alpha
    Alpha &ndash; 36px/42px
    %code.sg-value-offset .s-alpha
  %li.s-bravo
    Bravo &ndash; 24px/30px
    %code.sg-value-offset .s-bravo
  %li.s-charlie
    Charlie &ndash; 21px/30px
    %code.sg-value-offset .s-charlie
  %li.s-delta
    Delta &ndash; 18px/24px
    %code.sg-value-offset .s-delta
  %li.s-echo
    Echo &ndash; 16px/24px
    %code.sg-value-offset .s-echo
  %li.s-foxtrot
    Foxtrot &ndash; 14px/24px
    %code.sg-value-offset .s-foxtrot
  %li.s-golf
    Golf &ndash; 12px/18px (Helvetica Neue)
    %code.sg-value-offset .s-golf
  %li.s-hotel
    Hotel &ndash; 11px/18px (Helvetica Neue)
    %code.sg-value-offset .s-hotel

%h2 Headings

%p Headings are based off the typographic scale and include a <code>margin-bottom</code> of <code>24</code> pixels and the appropriate <code>font-weight</code>.

%h5 Mixins &amp; Classes

%p As with the general typographic scale, headings also have the approrpriate mixins and classes which start with <code>.h-*</code> instead of <code>.s-*</code> for scale. Mixin example: <code>+h-alpha</code>, <code>+h-bravo</code>, <code>+h-charlie</code>, and etc. Class example: <code>.h-alpha</code>, <code>.h-bravo</code>, <code>.h-charlie</code>, and etc.


%h1.sg-heading
  Heading One &ndash; Book 36px/42px 
  %code.sg-value-offset .h-alpha
%h2.sg-heading
  Heading Two &ndash; Book 24px/30px
  %code.sg-value-offset .h-bravo
%h3.sg-heading
  Heading Three &ndash; Book 21px/30px
  %code.sg-value-offset .h-charlie
%h4.sg-heading
  Heading Four &ndash; Normal 18px/24px
  %code.sg-value-offset .h-delta
%h5.sg-heading
  Heading Five &ndash; Semibold 16px/24px
  %code.sg-value-offset .h-echo
%h6.sg-heading
  Heading Six &ndash; Semibold 14px/24px
  %code.sg-value-offset .h-foxtrot

-# ========================================
-# Font families

%h2 Font Families

%p There are three font families available, all of which include a variable.

%ul.sg-value-list
  %li.sg-type-families-open-sans
    Open Sans &ndash; Open Sans, Verdana, Helvetica, sans-serif
    %code.sg-value-offset $font-family-open-sans
  %li.sg-type-families-helvetica
    Helvetica Neue &ndash; Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif
    %code.sg-value-offset $font-family-helvetica
  %li.sg-type-families-monospace
    Monospace &ndash; Source Code Pro, Inconsolata, Lucida Console, Terminal, Courier New, Courier
    %code.sg-value-offset $font-family-monospace

-# ========================================
-# Font weights

%h2 Font Weights

%p There are three font weights available, and a few rules as to how these font weights may be paired with each font family. Open Sans may only appear as italic in a normal or bold weight, not book. Source Code Pro should never appear in a book weight or italic. Note: There aren&#8217;t any variables, mixins, or classes for these values. They must be used outright.

%ul.sg-value-list
  %li.sg-type-weight-bold
    Bold
    %code.sg-value-offset 600
  %li.sg-type-weight-normal
    Normal
    %code.sg-value-offset 400
  %li.sg-type-weight-book
    Book
    %code.sg-value-offset 300

-# ========================================
-# Utility colors

%h2 Utility Colors

%p Utility classes are available to change the <code>color</code> of text to common color values. Example: <code>.text-subtle</code>, <code>.text-success</code>, and etc.

%ul.sg-value-list
  %li.text-subtle
    Subtle &ndash; Gray
    %code.sg-value-offset .text-subtle
  %li.text-success
    Success &ndash; Green
    %code.sg-value-offset .text-success
  %li.text-warning
    Warning &ndash; Gold
    %code.sg-value-offset .text-warning
  %li.text-danger
    Danger &ndash; Red
    %code.sg-value-offset .text-danger
