%nav.sg-nav.grid-col.grid-2-12(role="navigation")
  %ul
    %li.sg-nav-active
      %a(href="#nav-color" rel="nofollow") Colors
    %li
      %a(href="#nav-typography" rel="nofollow") Typography
    %li
      %a(href="#nav-layout" rel="nofollow") Layout
    %li
      %a(href="#nav-buttons" rel="nofollow") Buttons
    %li
      %a(href="#nav-forms" rel="nofollow") Forms
    %li
      %a(href="#nav-dropdowns" rel="nofollow") Dropdowns
    %li
      %a(href="#nav-alerts" rel="nofollow") Alerts
    %li
      %a(href="#nav-modals" rel="nofollow") Modals
    %li
      %a(href="#nav-tooltips" rel="nofollow") Tooltips
    %li
      %a(href="#nav-labels" rel="nofollow") Labels
    %li
      %a(href="#nav-lists" rel="nofollow") Lists
    %li
      %a(href="#nav-loading" rel="nofollow") Loading
    %li
      %a(href="#nav-misc" rel="nofollow") Misc