%nav.sg-nav(role="navigation")
  %ul
    %li.sg-nav-active
      %a(href="#nav-color" rel="nofollow") Colors
    %li
      %a(href="#nav-typography" rel="nofollow") Typography
    %li
      %a(href="#nav-layout" rel="nofollow") Layout
    %li
      %a(href="#nav-buttons" rel="nofollow") Buttons
    %li
      %a(href="#nav-forms" rel="nofollow") Forms
    %li
      %a(href="#nav-lists" rel="nofollow") Lists
    %li
      %a(href="#nav-misc" rel="nofollow") Misc